page-feedback {

    h3 {
    font-family: Abril Fatface;
    text-align: center;
    margin-top: 50px;
    }
    
    p {
    font-family: Lato;
    text-align: center;
    }

    form {
    padding-bottom: 50px;
    }

    button {
    background-color: #3fb8af;
    color: white;
    text-decoration: none;
    font-family: Lato;
    padding: 20px;
    margin: auto;
    display: block;
    }

}