page-chickfila {
    button {
        font-family: Abril Fatface;
    }
        
    ion-list {
      ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
      display: block;
      height: 100%;
    }

      ion-label {
        .menu-item {
            display: inline-block;
        }

      .how-to-order {
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }

      ion-icon  {
        font-size: 1.8rem;
        padding: 0;
        text-align: center;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #3fb8af;
            &:before {
                font-weight: bold;
      }
    }
  }
}