page-menu {
    
    .list-md .item-block {
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }

    .list-md .item-block .item-inner {
        border-bottom: 0;
    }
    
    ion-icon {
        color: #3fb8af;
    }
}